{% load static %} <!-- Charge la balise static pour utiliser les fichiers statiques comme CSS, JS, images, etc. -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'login_app/css/login.css' %}">
  </head>
  <body>
    <div class="form-container">
      <h2>Connexion</h2>

      <form method="POST">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" id="username" required />
        <br />
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" required />
        <br />
        <button type="submit">Se connecter</button>
      </form>
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <p>
        <br />
        Pas encore de compte ? <a href="{% url 'signup' %}">Créer un compte</a>
      </p>
    </div>
  </body>
</html>
