body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.errorlist{
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    list-style-type: none;
}

.signup-container {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    width: 400px; 
    text-align: center; 
}


h2 {
    color: #007BFF;; 
    margin-bottom: 20px; 
    font-size: 24px; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none; 
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    width: 100%; 
}

button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}

/* Style pour les messages d'erreur */
.error-message {
    color: red; /* Couleur rouge pour les messages d'erreur */
    margin: 10px 0; /* Espacement vertical */
}

/* Style pour le lien de retour à la connexion */
p {
    margin-top: 20px; /* Espacement au-dessus du paragraphe */
}

p a {
    color: #007bff; /* Couleur bleue pour le lien */
    text-decoration: none; /* Pas de soulignement */
}

p a:hover {
    text-decoration: underline; /* Soulignement au survol */
}
